.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px red;
}

.copy_right_footer{
    position: fixed;
    color: green;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    line-height: 3;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;

}

canvas{
    box-shadow: 5px 5px 5px green;
    border: 5px yellow;
    border-radius: 20px;
}